<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I have 8 years of AEM experience encompassing a wide range of skill set, roles and proficiency in all aspects of Software development life cycle and Agile Methodology.</p>
            </div>
            <div class="col-lg-4">
                <ul class="bullet-skills">
                    <li>
                        <a href="https://www.youracclaim.com/badges/a4d887f2-628d-4332-b300-ad4a5ba93294">Certified AEM Architect</a>
                    </li>
                    <li>
                        <a href="https://www.youracclaim.com/badges/361bde14-da29-4507-a7f2-2d5ea224bae4">Certified AEM Developer</a>
                    </li>
                    <li>
                        <a href="https://www.youracclaim.com/badges/467055ee-9109-4938-ba31-16a184fb88d4">Certified AEM DevOps Engineer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://www.linkedin.com/in/vijay-sathya-moorthy-558a54123/" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
</section>